# Core functionality - changes here should be rare!
/src/app.py                   @hemanthnarayanaswamy
/src/backend/database.py      @hemanthnarayanaswamy
/src/backend/routers/auth.py  @hemanthnarayanaswamy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @hemanthnarayanaswamy
